{% extends 'Navbar.html' %}<!--exteds is a keyword and navbar is the file which we want to inherit-->
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col order-last">
      First in DOM, no order applied
        <div>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
</div>
    </div>
    <div class="col">
      Second in DOM, with a larger order
        <br><h1>{{result_str}}</h1>
    </div>

  </div>
</div>
{% endblock %}

</body>
</html>