{% extends 'Navbar.html' %}<!--exteds is a keyword and navbar is the file which we want to inherit-->
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col order-last">
      First in DOM, no order applied
        <div>
<form method ="post" action="{% url 'weatherpage' %}">
    {% csrf_token %}
    <h5>
        <label> enter a city name: </label>
        <input type="text" name="place">
        <br><br>
        <button type="submit" class="btn btn-success btn-lg">Check</button>
    </h5>

</form>
</div>
    </div>
    <div class="col">
      Second in DOM, with a larger order
        <h1>Top Vacation Destinations</h1>
             <br><br>
        <h1>
                {% if error_message %}
            <p>{{ error_message }}</p>
            {% else %}
                 <p>City: {{ city }}</p>
                 <p>Temperature: {{ temperature1 }} &#8451;</p>
                 <p>Humidity: {{ humidity }}%</p>
            {% endif %}
                </h1>
    </div>

  </div>
</div>
{% endblock %}

</body>
</html>